<div class="gh-dashboard-zero">
    <div class="gh-dashboard-zero-message">
        <h4>Welcome to your Dashboard</h4>
        <p>You'll find analytics here once<br />someone makes a post.</p>
        <p><LinkTo @route="members">Manage members &rarr;</LinkTo></p>
    </div>
</div>
